.playlists-view ol {
  margin: 0;
  padding: 0;
  gap: var(--lumo-space-s);
  list-style-type: none;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fill, 157px);
}

.playlists-view li {
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow;
}

.playlists-view li:hover {
  background-color: var(--lumo-base-color);
  box-shadow: var(--lumo-box-shadow-s);
}

.indented-radio-group {
  margin-left: 20px;
}

.indented-radio-group-container {
  margin-top: -25px;
}

.playlists-view label {
  font-size: var(--lumo-font-size-s);
  margin-top: var(--lumo-space-m);
}

.full-width {
  width: 100%;
}

.align-center {
  align-items: center;
}

.playlists-view .confirm-dialog {
  width: 550px;
}
